<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <% if(chatRooms && chatRooms.length > 0){ %>
                <% _.each(chatRooms, function(chatRoom){ %>
                    <div class="list-group">
                        <a href="javascript:void(0);" class="chat-head list-group-item active">
                            <img class="media-object" src="images/default_user.png" data-room-token="<%= chatRoom.id %>" alt="Room Name">
                            <div>
                                <% var roomName = ''; %>
                                <% _.each(chatRoom.members, function(member, idx){
                                    if(idx == 0){
                                        roomName += member;
                                    } else {
                                        roomName += ', '+member;
                                    }
                                }); %>
                                <h4 class="list-group-item-heading"><%= roomName %></h4>
                            </div>
                        </a>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item active text-center">
                        No Chat History Found
                    </a>
                </div>
            <% } %>
        </div>
        <div class="col-lg-8">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" style="width:100%;">
                        Direct Chat
                        <small style="padding:0px;padding-top:0px;">
                            <button type="submit" class="btn btn-success btn-flat pull-right new-message" style="float: right;">
                                New Message
                            </button>
                        </small>
                    </h3>
                </div>
                <% _.each(chatRooms, function(chatRoom){ %>
                    <div enabled="true" class="conversation-box box-body" id="ChatRoomBox<%= chatRoom.id %>">
                        <div class="direct-chat-messages">
                            <% _.each(chatRoom.messages, function(message){ %>
                                <div class="direct-chat-msg <%= (message.auth_user_id == req.session.user.id) ? 'right' : '' %>">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left"><%= message.auth_user_name %></span>
                                        <span class="direct-chat-timestamp pull-right"><%= new Date(message.ts) %>
                                        </span>
                                    </div>
                                    <img class="direct-chat-img media-object" src="images/default_user.png" alt="Message User Image">
                                    <div class="direct-chat-text">
                                        <%= message.text %>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <div class="box-footer">
                            <div class="input-group message-div">
                                <input name="message" placeholder="Type Message ..." class="form-control message" type="text">
                                <span class="input-group-btn">
                                    <button type="button" data-room-token="<%= chatRoom.id %>" class="btn btn-primary btn-flat message-send">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="new-conversation-box box-footer hide">
                <div class="input-group" style="width:100%;margin-bottom: 20px;">
                    <select name="chat_users[]" id="chat_users_list" class="js-example-responsive" placeholder="Please Select User" style="width:100%;">
                        
                    </select>
                </div>
                <div class="input-group message-div">
                    <input autocomplete="off" name="message" placeholder="Type Message ..." class="form-control message" type="text" />
                    <span class="input-group-btn">
                        <button type="button" data-room-token="" class="btn btn-primary btn-flat message-send">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
</style>